.tree-view {
  font-family: arial, sans-serif;
  font-size: 0.875em;
}
.tree-view ul {
  list-style:none;
  margin:0;
  padding:0 0 0 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tree-view-node {
  display:inline-block;
}
.tree-view-leaf-node-text, .tree-view-parent-node-text {
  cursor: pointer;
  display:inline-block
}

.tree-view-leaf-node-selected {
  font-weight: bold;
}
.tree-view-leaf-node-text {
  margin-left: 12px;
}

.tree-view-parent-icon, .tree-view-parent-icon-expanded {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  display: inline-block;
  background: url(angular-treeview-arrows.png);
}
.tree-view-parent-icon {
}
.tree-view-parent-icon-expanded {
  background-position: -10px 0;

}
.tree-view-leaf-node-text:hover, .tree-view-parent-node-text:hover {
  color: #000;
  background-color: #dfdfdf;
}